{% extends "master.html" %}

{% block title %}
  POLY-PEDA-BDU Association
{% endblock %}


{% block content %}

   {% if q %}
     <h1>You searched For <span style="color:red">"{{q}}"</span>  </h1>
   {% else %}
      <h1>Hey! You forgot To Search For A alumnus </h1>
   {% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
   {% for alumnus in alumnus%}
    <tr>
      <td>{{alumnus.firstname}}</td>
      <td>{{alumnus.lastname}}</td>
      <td>{{alumnus.year_in_school}}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock %}