{% extends "master.html" %}

{% block title %}
  POLY-PEDA-BDU Association
{% endblock %}

{% block content %}

   {% if q %}
     <h1>You searched For <span style="color:red">"{{q}}"</span>  </h1>
   {% else %}
      <h1>Hey! You forgot To Search For A alumnus </h1>
   {% endif %}
<table class="table table-success table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Gender</th>
      <th scope="col">Department</th>
      <th scope="col">Course Years</th>
      <th scope="col">Year Of Graduation</th>

    </tr>
  </thead>
  <tbody>
   {% for alumnus in alumnus%}
    <tr>
      <td>{{alumnus.fullname}}</td>
      <!--<td>{{alumnus.lastname}}</td>-->
       <td>{{alumnus.gender}}</td>
       <td>{{alumnus.department}}</td>
        <td>{{alumnus.no_of_course_years}}</td>
      <td>{{alumnus.year_of_graduation}}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock %}